body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: #032a85;
}
header .logo{
    width: 150px;
}
a .active{
    background-color: #0ac89a;
    color: #f9f9f9;
}
.dropdown{
    position: relative;
    display: none;
    top: 30px;
    right: 50px;
    width: 75px;
}
.dropdown .drop-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 25vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: #032a85;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #032a85 1px dotted;
    font-size: 14px;
    text-transform: capitalize;
}
.drop-content a:hover {
    background-color: #0ac89a;
    color: #f9f9f9;
}
.dropdown:hover .drop-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: #032a85;
}
.dropbtn{
    padding: 10px 20px 10px 20px;
    background-color: #0ac89a;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 14px;
    width: auto;
    text-transform: uppercase;
    border: #0ac89a solid 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav{
    margin-top: 40px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
nav a{
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 16px;
}
nav a:hover{
    background-color: #0ac89a;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
main{
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
}
.part1{
    width: 30%;
}
.part2 h3{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-bottom: -30px;
    margin-left: -20px;
    z-index: 2;
    background-color: #032a85;
    color: #f9f9f9;
}
.part2 p {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    padding: 25px;
}
.part2{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}
.pic {
    width: 50%;
}
.txt{
    width: 40%;
    padding:100px 0 100px 0;
}
.pic img{
    width: 25vw;
    margin-right: 20px;
}
.pic a {
    color: #0ac89a;
}
.pic a:hover{
    color: #032a85;
    transition: font-weight;
}
.dropside{
    position: relative;
    display: none;
    top: 30px;
    left: 25px;
}
.dropside .drop-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 50vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropside:hover .drop-content {
    display: block;
}
.dropside:hover .dropbtn {
    background-color: #032a85;
    border: none;
}
#navside{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.5);
    height: auto;
}
#navside .active{
    background-color:#0ac89a;
    color: white;
    border-bottom: none;
}
#navside a{
    border-bottom: #032a85 1px dotted;
    padding: 20px;
    color: #032a85;
    font-size: 14px;
}
#navside a:hover{
    background-color: #0ac89a;
    color: white;
}
footer{
    height: auto;
    background-color: #032a85;
    padding: 10px;
    color: white;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 75px;
}
.icons img{
    width: 40px;
    padding: 20px;
}
.contact-info{
    text-align: center;
}
.copyright img{
    width: 100px;
    padding-bottom: 12px;
}
@media(max-width: 1092px) {
    .part1{
        width: 40%;
    }
    .part2 h3{
        width: 60%;
    }
}
@media(max-width: 911px) {
.part2 h3{
   font-size: 15px;
    padding: 7px;
}
}
@media(max-width: 794px) {
    #navside{
        display: none;
    }
    .dropside{
        display: inline-block;
    }
    .part2 h3{
        font-size: 12px;
        padding: 5px;
        width: 60%;
    }
}
@media (max-width: 650px) {
    .part2{
        flex-direction: column;
    }
    .txt{
        width: 100%;
        padding: 5px 0 5px 0;
    }
    .pic{
        width: 100%;
    }
    .part2 h3{
        font-size: 16px;
    }
}
@media (max-width: 550px) {
    nav{
    display: none;
}
    .dropdown{
        display: inline-block;
    }
}
@media(max-width: 458px) {
    #navside a{
        font-size: 12px;
    }
   #navside a{
       font-size: 10px;
   }
   footer{
       flex-direction: column;
   }
   .copyright{
       text-align: center;
   }
}
@media(max-width:380px ) {
    .dropside .drop-content{
        width: 60vw;
    }
    .dropdown .drop-content{
        width: 30vw;
    }
    .part2{
        font-size: 14px;
    }
    .part2 h3{
        font-size: 14px;
    }
}
@media (max-width: 355px) {
    header{
        flex-direction: column;
    }
    .dropdown{
        top:-25px;
        left: 35%;
    }
    header .logo{
        margin-left: 30%;
        width: 100px;
    }
}
@media(max-width: 334px) {
    .dropside .drop-content{
        width: 65vw;
    }
    .dropdown .drop-content{
        width: 35vw;
    }
    .part2 h3{
        width: 80%;
        margin-left: 10px;
    }
    .icons img{
        width: 30px;
        padding: 10px;
    }
}
@media (max-width: 255px) {
    .drop-content a {
        font-size: 12px;
    }
}
@media (max-width: 229px) {
    .dropside .drop-content{
        width: 75vw;
    }
    .dropdown .drop-content{
        width: 40vw;
    }
    .part2{
        font-size: 12px;
    }
    .part2 h3{
        font-size: 12px;
    }
}
@media (max-width: 200px) {
    .dropside{
        left: 10px;
    }
    .dropdown{
        margin-left: -10px;
    }
    header .logo{
        margin-left: 20px;
    }
    .part2{
        font-size: 10px;
    }
    .part2 h3{
        font-size: 10px;
    }
    .icons img{
        width: 25px;
        padding: 2px;
    }
    .copyright img{
        width: 65px;
    }
    .copyright p{
        font-size: 14px;
    }

}



