body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    background-color: #032a85;
    border-bottom: white 1px solid;
}
header #logo{
    width: 250px;
}
nav{
    margin-top: 60px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    font-size: 25px;
}
nav a:hover{
    background-color: white;
    color: #032a85;
    border-radius: 10px;
}
.container{
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin-left: 5%;

}
#show{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
}
#navside{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top:4%;
}
#navside a{
    border-bottom: #032a85 solid 1px;
    padding: 25px;
    color: #032a85;
    font-size: 20px;
}
#navside a:hover{
    background-color: #032a85;
    color: white;
}
video {
    object-fit: cover;
    width: 90%;
    height: 80vh;
}
#txt{
    position: absolute;
    color: white;
    left: 30%;
    top: 40%;
}
#txt h2{
    font-size: 40px;
}
#txt h3{
    font-size: 30px;
}
#txt a{
    position: absolute;
    color: white;
    border: white 1px solid;
    border-radius: 10px;
    padding: 20px 10px  20px 10px;
    left: 900px;
    bottom: 20px;
    font-weight: bold;
}
#txt a:hover{
    background-color: white;
    color: #032a85;
}
.products{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.products a{
    color: #032a85;
    font-size: 20px;
}
.card{
    max-width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}
.card p{
    font-size: 25px;
}
footer{
    height: 450px;
    background-color: #032a85;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    color: white;
    text-transform: capitalize;
    margin-top: 100px;
}
footer .box{
    text-align: center;
}
footer p{
    margin-top: 100px;
    font-size: 25px;
}
footer img{
    width:80px;
}
.contac-info{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 100px;
}
footer .btn{
    padding: 25px;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 200px;
}
footer .links{
    display: flex;
    flex-direction: column;
}
footer .links a{
    border-bottom: white 1px solid;
}
footer .links a:hover{
    background-color: white;
    color:#032a85;
}

