body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: #032a85;
}
header .logo{
    width: 150px;
}
.dropdown{
    position: relative;
    display: none;
    top: 30px;
    right: 50px;
    width: 75px;
}
.dropdown .drop-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a {
    color: #032a85;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #032a85 1px dotted;
    font-size: 14px;
    text-transform: capitalize;
}
.drop-content a:hover {
    background-color: #0ac89a;
    color: #f9f9f9;
}
.dropdown:hover .drop-content {
    display: block;
    width: 40vw;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color: #032a85;
}
.dropbtn{
    padding: 10px 20px 10px 20px;
    background-color: #0ac89a;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 14px;
    width: auto;
    text-transform: uppercase;
    border: #0ac89a solid 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav{
    margin-top: 40px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
nav a{
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 16px;
}
nav a:hover{
    background-color: #0ac89a;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.container{
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin-left: 5%;
}
#show{
    display: flex;
    flex-direction: row;
    position: relative;
    height:auto;
}
.part1{
    width: 30%;
}
.part2{
    width: 70%;
    height: auto;
    position: relative;
}
.dropside{
    position: relative;
    display: none;
    top: 30px;
    left: 25px;
   margin-bottom: 50px;
}
.dropside .drop-content{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropside:hover .drop-content {
    display: block;
    width: 70vw;
}
.dropside:hover .dropbtn {
    background-color: #032a85;
}
#navside{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    box-shadow: 5px 8px 16px 0 rgba(0,0,0,0.5);
    height: auto;
}
#navside .active{
    background-color:#0ac89a;
    color: white;
}
#navside a{
    border-bottom: cornflowerblue solid 1px;
    padding: 20px;
    color: #032a85;
    font-size: 14px;
}
#navside a:hover{
    background-color: #0ac89a;
    color: white;
}
.part2 video {
    width: 100%;
    margin-top: 55px;
}
#txt{
    position: absolute;
    color: white;
    top: 30%;
    left: 20px;
}

.read-more{
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px 5px  10px 5px;
    width: auto;
}
.part2 .read-more{
    position: absolute;
    left: 25vw;
    right: auto;
    bottom: 10vw;
    top: auto;
}
.read-more a{
    color: white;
    font-size: 14px;
    text-align: center;
}
.read-more:hover{
    background-color: #f9f9f9;
}
.read-more:hover a{
    color: #032a85;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.products a{
    color: #032a85;
    margin-right: auto;
    margin-left: auto;
}
.card{
    max-width: 200px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 12px;
    padding: 10px;
}
.card img{
    width: 100%;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}
.card p{
    font-size: 20px;
}
footer{
    height: auto;
    background-color: #032a85;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    color: white;
    text-transform: capitalize;
    margin-top: 100px;
    overflow: hidden;
}
footer .box1{
    text-align: center;
    width: 70%;
}
footer .box2{
    text-align: center;
    width: 30%;
}
.contac-info{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.contac-info img{
    width:50px;
    padding: 10px;
}
footer .copyright{
    margin-right: auto;
    margin-left: auto;
}
footer .logo{
    width: 75px;
    padding-bottom: 10px;
}
footer .box2{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left:auto;
}
footer .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}
.links a{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    color: white;
    padding: 10px 5px 10px 5px;
}
.links a:hover {
    font-weight: bold;
    color: #0ac89a;
    text-decoration-line: underline;
}
@media(max-width: 1160px) {
    #txt{
        top: 20%;
    }
    .products{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(max-width: 1005px) {
    #txt {
      top: 10px;
        color: #032a85;
    }
    .vid{
        margin-top:100px;
    }
}
@media(max-width: 900px) {
    footer .box1 h3{
        text-align: left;
        margin-left: 75px;
    }
    .contac-info{
        margin-left: 20px;
    }
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 794px) {
    .contac-info img{
        width:40px;
    }
}
@media(max-width: 690px) {
    footer{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    footer .box1{
        width: 100%;
        padding: 10px;
        background-color: #0ac89a;
    }
    footer .box1 h3{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .contac-info , .links{
        margin-right: auto;
        margin-left: auto;
    }
    footer .box2 {
        width: 100%;
    }
}
@media (max-width: 655px) {
    .vid{
        margin-top: 135px;
    }
    .card{
        height: 325px;
    }
}
@media (max-width: 550px) {
    nav{
    display: none;
    }
    #navside{
        display: none;
    }
    .dropdown{
        display: inline-block;
    }
    .dropside{
        display: inline-block;
    }
    #txt{
        width: 70vw;
        align-items: center;

    }
    .products{
        grid-template-columns: repeat(1,1fr);
    }
    #show{
        flex-direction: column;
    }
    .part2{
        display: flex;
        flex-direction: column;
    }
    .vid{
        width: 86vw;
    }
}

@media(max-width: 458px) {
    #navside a{
        font-size: 12px;
    }
   #navside a{
       font-size: 10px;
   }
    #txt h2{
        font-size: 23px;
    }
}
@media(max-width: 388px) {
    footer .box1{
        font-size: 12px;
    }
    #txt h2{
        font-size: 20px;
    }
}
@media (max-width: 355px) {
    header{
        flex-direction: column;
    }
    .dropdown{
        top:-25px;
        left: 35%;
    }
    header .logo{
        margin-left: 30%;
        width: 100px;
    }
    #txt h2{
        font-size: 18px;
    }
}
@media(max-width: 334px) {
    .card{
        width: 150px;
        height: 150px;
    }
    .card img{
        width: 60%;
    }
    .card h2{
        font-size: 12px;
    }
    .card p{
        font-size: 12px;
    }
}
@media(max-width: 323px) {
    footer .links{
        flex-direction: column;
        text-align: center;
    }
    footer .box1{
        font-size: 16px;
    }
}
@media (max-width: 308px) {
    .contac-info img{
        width:  35px;
    }
    #show{
        overflow: hidden;
    }
    #txt h2{
        font-size: 16px;
    }
    #txt h4{
        font-size: 12px;
    }
}
@media (max-width: 255px) {

    .drop-content a {
        font-size: 12px;
    }
}
@media (max-width: 229px) {
    .card{
        width: 130px;
    }
}
@media (max-width: 207px) {
    .card{
        width: 120px;
    }
    .contac-info img{
        width: 25px;
    }
}
@media (max-width: 200px) {
    .card{
        width: 100px;
    }
    .dropside{
        left: 10px;
    }
    .dropdown{
        margin-left: -10px;
    }
    header .logo{
        margin-left: 20px;
    }
    .dropside .drop-content  {
        width: 60vw;
    }
}
@media (max-width: 180px) {

    .card{
        width: 85px;
    }
    .video-bck1 video{
        margin-top: 225px;
    }
}
@media(max-width: 173px) {
    .contac-info img{
    width: 20px
    }
    .copyright img{
        width: 50px;
    }
    footer .links{
        font-size: 13px;
    }
    .dropside button{
        margin-left: -10px;
    }
    #txt{
        width: 55vw;
    }
    #txt h2{
        font-size: 12px;
    }
    #txt h4{
        font-size: 10px;
    }

}


